@charset "UTF-8";
@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root{
    --var-color0:hsl(215, 51%, 70%);
    --var-color1: hsl(178, 100%, 50%);
    --var-color2:hsl(217, 54%, 11%);
    --var-color3:hsl(216, 50%, 16%);
    --var-color4:hsl(215, 32%, 27%);

    --var-font1:"Outfit", sans-serif;
}

